<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bank Server Application</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        a.nav-link {
            text-decoration: none;
            padding: 10px;
            color: #333;
            background-color: #eee;
            border-radius: 5px;
            margin: 5px;
            display: inline-block;
        }

        a.nav-link:hover {
            background-color: #ddd;
        }
    </style>
</head>
<body>
    <a class="nav-link" href="/login/adminloginpage">Admin</a>
    <a class="nav-link" href="/login/userloginpage">User</a>
</body>
</html>
